/shaderapivulkan/.vs/shaderapivulkan/v15/ipch/b63f519848472f64.ipch
/shaderapivulkan/.vs/shaderapivulkan/v15/ipch
/shaderapivulkan/.vs/shaderapivulkan/v15/Browse.VC.opendb
/shaderapivulkan/.vs/shaderapivulkan/v15/Browse.VC.db
/shaderapivulkan/.vs/shaderapivulkan/v15/.suo
